.createProject{
    display: none;
    position: absolute;
    margin: 20%;
    margin-top: 50px;
    background-color: light blue;
    border-radius: 8px 8px 8px 8px;
    width: 50%; 
}

.createProject--active{
    display: block;
}
