.existingTasks {
    text-align: center;
    margin-top: 100px;
}

ul.no-bullets {
    list-style-type: none;
}

.button {
    background-color: white;
    border: 2px solid #000000;
    padding: 16px 32px;
    margin-left: 46%;
    margin-top: 50px;
}

.button:hover {
    background-color: #1E90FF;
    border: 2px solid #1E90FF;
}

.createTask{
    display: none;
    position: absolute;
    margin: 25%;
    margin-top: 50px;
    background-color: dodgerblue;
    border-radius: 8px 8px 8px 8px;
    width: 50%;
    text-align: center;
}

.createTask--active{
    display: block;
}